.profile {
    border: 1px solid black;
    width: 250px;
    border-radius: 5px;
}

.description {
    text-align: center;
    flex-direction: column;

}

.avatar {
    width: 100px;
    padding: 20px;
    text-align: center;
}

.username {
    font-weight: bold;
    margin-bottom: 5px;
}

.tag {
    color: gray;
    margin-bottom: 5px;
}

.location {
    color: gray;
    margin-bottom: 15px;
}

.stats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    border-top: 1px solid lightgray;
    background-color: rgb(236, 236, 236);
    padding: 10px;

}

li {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    color: gray;
    font-size: 12px;
    font-weight: bold;
}

.quantity {
    font-size: 20px;
    font-weight: bold;
}